---
import Layout from "../layouts/Layout.astro";
import AppHeader from "../components/AppHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import MarketSection from "../components/MarketSection.astro";
import PlayStationGames from "../components/PlayStationGames.astro";
import GiftCart from "../components/GiftCart.astro";
---

<Layout title="Welcome to Astro.">
  <AppHeader />
  <main class="flex flex-col">
    <HeroSection />
    <MarketSection />
    <PlayStationGames />
    <GiftCart />
  </main>
</Layout>

<style>
  :root {
    scroll-behavior: smooth;
  }
</style>
