---
import Layout from "../layouts/Layout.astro";
import AppHeader from "../components/AppHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import MarketSection from "../components/MarketSection.astro";
import PlayStationGames from "../components/PlayStationGames.astro";
import GiftCart from "../components/GiftCart.astro";
import Timer from "../components/Timer.astro";
import IndexFooter from "../components/IndexFooter.astro";
---

<Layout title="PS5 Landing">
  <AppHeader />
  <main class="flex flex-col">
    <HeroSection />
    <MarketSection />
    <PlayStationGames />
    <GiftCart />
    <Timer />
  </main>
  <IndexFooter />
</Layout>

<style>
  :root {
    scroll-behavior: smooth;
  }
</style>
