---
---

<header class="sticky -top-14 z-50 flex flex-col backdrop-blur-lg">
  <div class="h-14 bg-[#030303]/80"></div>
  <div class="flex bg-white/30">
    <div class="container mx-auto flex h-14 items-center justify-between">
      <ul class="flex h-full gap-8">
        <li
          class="relative flex items-center justify-center text-xl font-medium after:absolute after:bottom-2 after:h-1 after:w-3/5 after:rounded-full after:bg-neutral-900"
        >
          مشخصات
        </li>
        <li class="flex items-center text-lg">
          <a href="#"> دیدگاه ها</a>
        </li>
      </ul>

      <h2 class="text-xl font-medium">PlayStation 5</h2>
    </div>
  </div>
</header>
<script></script>
