---
---

<header
  class="sticky -top-10 z-50 flex flex-col overflow-hidden backdrop-blur-lg lg:-top-14"
>
  <div
    class="relative flex h-10 flex-col bg-[#030303]/80 text-white lg:h-14 lg:flex-row"
  >
    <div class="container mx-auto flex gap-5">
      <ul class="flex flex-1 justify-between gap-5">
        <li class="flex items-center">
          <img src="/assets/images/ct-logo.png" class="h-6" alt="CT Logo" />
        </li>
        <li class="flex items-center">خانه</li>
        <li class="flex items-center">مجله</li>
        <li class="group flex items-center">
          <span>خدمات</span>
          <!--<div-->
          <!--  class="absolute left-0 right-0 top-full z-10 flex bg-[#030303] text-white"-->
          <!--&gt;-->
          <!--  <ul class="container mx-auto py-5 backdrop-blur-lg">-->
          <!--    <li>بقیه خدمات</li>-->
          <!--    <li>بقیه خدمات</li>-->
          <!--    <li>بقیه خدمات</li>-->
          <!--    <li>بقیه خدمات</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </li>
        <li class="flex items-center">آموزشگاه</li>
        <li class="flex items-center">فروشگاه</li>
        <li class="flex items-center">باشگاه مشتریان</li>
        <li class="flex items-center">درباره ما</li>
        <li class="flex items-center">ارتباط با ما</li>
        <li class="flex items-center gap-2">
          <span>ورود</span>
          <i class="fa-regular fa-user"></i>
        </li>
        <li class="flex items-center text-lg">
          <i class="fa-regular fa-search"></i>
        </li>
        <li class="flex items-center text-lg">
          <i class="fa-regular fa-bag-shopping"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex bg-white/30 px-3">
    <div
      class="container mx-auto flex h-10 items-center justify-between lg:h-14"
    >
      <!--<ul class="flex h-full gap-3 lg:gap-8">-->
      <!--  <li-->
      <!--    class="relative flex items-center justify-center text-lg font-medium after:absolute after:bottom-1 after:h-1 after:w-3/5 after:rounded-full after:bg-neutral-900 lg:text-xl lg:after:bottom-2"-->
      <!--  >-->
      <!--    مشخصات-->
      <!--  </li>-->
      <!--  <li-->
      <!--    class="relative flex items-center justify-center after:absolute after:bottom-1 after:h-1 after:w-0 after:rounded-full after:bg-neutral-900 after:transition-all after:duration-200 hover:after:w-3/5 lg:text-lg lg:after:bottom-2"-->
      <!--  >-->
      <!--    <a href="#"> دیدگاه ها</a>-->
      <!--  </li>-->
      <!--</ul>-->

      <h2 class="mr-auto font-semibold lg:text-xl">PlayStation 5</h2>
    </div>
  </div>
</header>
<script></script>
