---
---

<section class="flex py-52">
  <div class="container mx-auto flex gap-10">
    <div class="flex flex-1 flex-col gap-12">
      <h3 class="text-6xl font-bold text-primary">کارت هدیه برای همه</h3>
      <p class="text-2xl font-semibold leading-[3.2rem] text-gray-500">
        با این کارت هدیه می توانید تا سقف 1 میلیون تومان از سی تلکام تخفیف
        بگیرید شما با پرداخت 500 هزار تومان صاحب این کارت تخفیف خواهید شد و
        پانصد هزار تومان بعدی رو از ما هدیه بگیرید
      </p>
    </div>
    <div class="flex flex-1 items-center justify-center">
      <div class="group relative max-w-lg">
        <img
          src="/assets/images/gift-cart.png"
          class="relative z-30 origin-bottom-left"
          alt="Gift Cart"
          draggable="false"
        />
        <img
          src="/assets/images/gift-cart.png"
          class="absolute top-0 z-20 origin-bottom-left rotate-2 opacity-60 transition-all duration-300 ease-out group-hover:rotate-6"
          alt="Gift Cart"
          draggable="false"
        />
        <img
          src="/assets/images/gift-cart.png"
          class="absolute top-0 z-10 origin-top-left -rotate-2 opacity-40 transition-all duration-300 ease-out group-hover:-rotate-6"
          alt="Gift Cart"
          draggable="false"
        />
      </div>
    </div>
  </div>
</section>
