---
---

<section
  data-hero-area
  class="relative -mt-20 flex min-h-screen overflow-hidden bg-red-300 pt-64 lg:-mt-28"
>
  <div class="absolute inset-0 select-none bg-blue-600">
    <div class="absolute inset-0" data-hero-background>
      <picture>
        <source
          media="(min-width:650px)"
          srcset="/assets/images/hero-desktop.webp"
          class="h-full w-full scale-105 object-cover object-center lg:object-center"
        />
        <img
          draggable="false"
          alt="Hero background"
          class="h-full w-full scale-105 object-cover object-center lg:object-center"
          src="/assets/images/hero-mobile.webp"
        />
      </picture>
    </div>

    <div data-hero-part class="absolute inset-0 z-20">
      <picture>
        <source
          media="(min-width:650px)"
          srcset="/assets/images/hero/h-ct-logo-desktop.webp"
          class="h-full w-full object-cover object-center lg:object-center"
        />
        <img
          draggable="false"
          alt="Hero background"
          class="h-full w-full object-cover object-center lg:object-center"
          src="/assets/images/hero/h-ct-logo-mobile.webp"
        />
      </picture>
    </div>
    <div data-hero-part class="absolute inset-0 z-10">
      <picture>
        <source
          media="(min-width:650px)"
          srcset="/assets/images/hero/h-character-desktop.webp"
          class="h-full w-full object-cover object-center lg:object-center"
        />
        <img
          draggable="false"
          alt="Hero background"
          class="h-full w-full object-cover object-center lg:object-center"
          src="/assets/images/hero/h-character-mobile.webp"
        />
      </picture>
    </div>
    <div data-hero-part class="absolute inset-0 z-40">
      <picture>
        <source
          media="(min-width:650px)"
          srcset="/assets/images/hero/h-console-desktop.webp"
          class="h-full w-full object-cover object-center lg:object-center"
        />
        <img
          draggable="false"
          alt="Hero background"
          class="h-full w-full object-cover object-center lg:object-center"
          src="/assets/images/hero/h-console-mobile.webp"
        />
      </picture>
    </div>
    <div data-hero-part class="absolute inset-0 z-30 blur-[1px]">
      <picture>
        <source
          media="(min-width:650px)"
          srcset="/assets/images/hero/h-p-desktop.webp"
          class="h-full w-full object-cover object-center lg:object-center"
        />
        <img
          draggable="false"
          alt="Hero background"
          class="h-full w-full object-cover object-center lg:object-center"
          src="/assets/images/hero/h-p-mobile.webp"
        />
      </picture>
    </div>
  </div>

  <div
    class="container relative z-50 mx-auto mb-16 mt-auto flex h-full flex-col justify-end gap-3 px-2 text-white lg:gap-8"
  >
    <h2
      class="flex flex-col text-[11vw] font-bold xs:text-4xl sm:text-5xl lg:gap-5 lg:text-6xl"
    >
      <small class="text-2xl lg:text-4xl">بدون هیچ</small>
      محدودیتی بازی کن!!!
    </h2>
    <p
      class="max-w-lg text-[3.777vw] xs:text-base sm:text-lg lg:text-xl lg:leading-9"
    >
      Ray Tracking سطوح جدیدی از واقع گرایی را با سایه ها و بازتاب های طبیعی در
      پشتیبانی از بازی های PS5 به ارمغان می آورد.
    </p>
    <div class="flex pb-0 lg:pb-16">
      <a
        href="#order-now"
        class="flex h-10 items-center gap-1.5 rounded-full bg-gray-50 px-4 text-sm font-medium text-gray-900 sm:h-16 sm:gap-3 sm:px-8 sm:text-lg lg:h-20 lg:text-lg"
      >
        <i class="fa-regular fa-bag-shopping text-base sm:text-xl lg:text-4xl"
        ></i>
        افزودن به سبد
      </a>
    </div>
  </div>

  <div
    class="down-arrow absolute bottom-0 left-0 right-0 mt-auto flex h-16 items-center justify-center"
  >
    <a
      class="relative flex h-6 w-10 items-center justify-center"
      href="#buy-now"
    >
      <div></div>
      <div></div>
    </a>
  </div>
</section>
<style>
  :root {
    --rotation: 0;
    --rotation-idel: 0;
  }

  /*
  section[data-hero-area] div[data-hero-part],
  section[data-hero-area] div[data-hero-background] {
    @apply transition-all duration-1000;
  }

  section[data-hero-area]:hover div[data-hero-part],
  section[data-hero-area]:hover div[data-hero-background] {
    @apply duration-0;
  }
   */

  @keyframes dropScale {
    0% {
      transform: translateY(0rem) rotate(var(--rotation-idel));
    }

    10% {
      transform: translateY(0rem) rotate(var(--rotation-idel));
    }
    85% {
      transform: translateY(0.75rem) rotate(var(--rotation));
    }
    100% {
      transform: translateY(0rem) rotate(var(--rotation-idel));
    }
  }

  .down-arrow div:first-child {
    --rotation: 20deg;
    --rotation-idel: 45deg;
    @apply absolute h-5 w-1.5 origin-bottom-left rotate-45 rounded-full bg-white;
    animation: dropScale 1.3s infinite;
  }

  .down-arrow div:last-child {
    --rotation: -20deg;
    --rotation-idel: -45deg;
    @apply absolute h-5 w-1.5 origin-bottom-right -rotate-45 rounded-full bg-white;
    animation: dropScale 1.3s infinite;
  }

  .animated-arrow {
    animation: dropScale 1s infinite;
  }
</style>

<script>
  const parts = $("[data-hero-part]");
  const background = $("[data-hero-background]");
  const [ctLogo, character, gameConsole, particle] = parts;
  const heroArea = $("[data-hero-area]");
  let width, height;
  $(document).ready(() => {
    height = window.innerHeight;
    width = window.innerWidth;
    window.addEventListener("resize", (e) => {
      height = window.innerHeight;
      width = window.innerWidth;
    });
  });
  heroArea.on("mouseleave", () => {
    // $(gameConsole).css({
    //   transform: `translate(0px,0px)`,
    // });
    // $(ctLogo).css({
    //   transform: `translate(0px,0px)`,
    // });
    // $(character).css({
    //   transform: `translate(0px,0px)`,
    // });
    // $(particle).css({
    //   transform: `translate(0px,0px)`,
    // });
    // background.css({
    //   transform: `translate(0px,0px)`,
    // });
  });

  $(document).on("mousemove", (e) => {
    const hafW = width / 2;
    const hafH = height / 2;
    const { clientX, clientY } = e;
    const horizontal = (clientX - hafW) / hafW;
    const vertical = (clientY - hafH) / hafH;

    console.log(`translate(${horizontal * 20}px,${vertical * 20}px)`);
    $(gameConsole).css({
      transform: `translate(${horizontal * 20}px,${vertical * 20}px)`,
    });
    $(ctLogo).css({
      transform: `translate(${horizontal * 10 * -1}px,${vertical * 10 * -1}px)`,
    });

    $(character).css({
      transform: `translate(${horizontal * 5}px,${vertical * 5}px)`,
    });
    $(particle).css({
      transform: `translate(${horizontal * 20 * -1}px,${vertical * 20 * -1}px)`,
    });
    $(background).css({
      transform: `translate(${horizontal * 8 * -1}px,${vertical * 8 * -1}px)`,
    });
  });
</script>
