---
import ProductCard from "./ProductCard.astro";
---

<section class="relative overflow-hidden" id="buy-now">
  <div
    class="container mx-auto flex flex-col-reverse items-center justify-between gap-20 pt-16 sm:min-h-screen lg:flex-row lg:py-16"
  >
    <div class="relative flex-1">
      <div class="absolute -inset-x-96 h-full bg-gray-100 lg:hidden"></div>
      <ProductCard />
    </div>
    <div
      class="relative flex h-full max-h-72 flex-1 justify-center sm:max-h-96 md:max-h-[24rem] lg:max-h-[35rem] lg:px-3"
    >
      <img
        draggable="false"
        src="/assets/images/ps5.png"
        alt="Ps 5"
        class="flying-ps5 z-10 w-full object-contain object-center"
      />
      <div
        class="absolute -bottom-10 h-8 w-1/2 rounded-full bg-gray-600 blur-2xl"
      >
      </div>
    </div>
  </div>
</section>
<style is:global>
  @keyframes fly {
    0% {
      transform: translateY(-0.5rem);
    }
    50% {
      transform: translateY(0.5rem);
    }
    100% {
      transform: translateY(-0.5rem);
    }
  }

  .flying-ps5 {
    animation: 5s fly infinite ease-in-out;
  }
</style>
