---
---

<section
  class="flex min-h-[70vh] bg-gradient-to-l from-[#0931B7] to-[#1235a1] py-24"
>
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-32 xl:flex-row"
  >
    <div
      class="games relative flex min-h-[36rem] w-[44rem] flex-shrink-0 items-center justify-center"
    >
      <div class="absolute aspect-square w-2/5 rounded-full bg-white blur-3xl">
      </div>
      <img
        src="/assets/images/playstation-character.png"
        alt="playstation character"
        class="absolute"
      />
      <img
        class="absolute left-10 top-12 z-10 w-32 animate-[6s_fly_infinite]"
        src="/assets/images/games/1.png"
        alt="PS5 - Spider man"
      />
      <img
        class="absolute right-8 top-32 z-10 w-28 animate-[4.5s_fly_1s_infinite]"
        src="/assets/images/games/2.png"
        alt="PS5 - Horizion"
      />
      <img
        class="absolute bottom-5 left-16 z-10 w-40 animate-[5s_fly_infinite]"
        src="/assets/images/games/3.png"
        alt="PS5 - Spider man"
      />
      <img
        class="absolute -bottom-5 right-12 z-10 w-44 animate-[4s_fly_1s_infinite]"
        src="/assets/images/games/4.png"
        alt="PS5 - Spider man"
      />
      <img
        class="absolute -top-20 right-40 z-10 w-40 animate-[5.5s_fly_infinite]"
        src="/assets/images/games/5.png"
        alt="PS5 - Spider man"
      />
      <img
        class="absolute -top-10 left-48 z-10 w-28 animate-[4s_fly_infinite]"
        src="/assets/images/games/6.png"
        alt="PS5 - Spider man"
      />
      <img
        class="absolute -bottom-16 left-64 z-10 w-32 animate-[5s_fly_1s_infinite]"
        src="/assets/images/games/7.png"
        alt="PS5 - Spider man"
      />
    </div>
    <div class="mr-auto flex flex-col justify-center gap-8 text-white xl:w-1/2">
      <span class="text-3xl font-medium">Ps4 | Ps5</span>
      <h3 class="text-6xl font-bold">هزاران بازی</h3>
      <p class="mt-5 text-xl font-semibold leading-10">
        بیش از 4000 بازی PS4™ روی کنسول PS5 خود بازی کنید به عناوین PS4 و PS VR
        مورد علاقه خود با سازگاری به عقب بازگردید (نفهمیدن چی نوشته, فقط کپی
        کردم)
      </p>
    </div>
  </div>
</section>
<style></style>
