---
---

<section class="relative flex min-h-screen">
  <img
    alt="Playstation games"
    draggable="false"
    src="/assets/images/playstatoin.jpg"
    class="h-full w-full object-cover object-center"
  />

  <div class="container relative z-10 flex"></div>
</section>
